libtool
stamp-h1
nbproject
autom4te.cache
Makefile
config.h
config.log
config.status
*~
#.*#
*.orig
server/.deps
server/.libs
server/*.lo
server/*.o
stamp-h1
.*.swp
ylwrap
*.pyc
*.so
docs/doxy/html/*
docs/pubs/html/*
docs/.DS_Store
docs/._.DS_Store
docs/doxy/latex/*
infinisqlmgr.conf
.idea
