*~
\#.*#
aclocal.m4
autom4te.cache
benchmark/.deps
benchmark/.libs
benchmark/*.o
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps/
GPATH
GRTAGS
GTAGS
infinisqld/infinisql_cfgenum.h
infinisqld/infinisql_cfgenum.py
infinisqld/infinisqld
infinisqld/lexer.cc
infinisqld/parser.cc
infinisqld/parser.h
infinisqld/parser.output
infinisqld/version.h
infinisqlmgr/cfgenum.py
INSTALL
install-sh
*.la
.libs/
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
manager/*.pyc
missing
nbproject
*.o
*.orig
server/.deps
server/.libs
server/*.lo
server/*.o
stamp-h1
.*.swp
ylwrap
