**/*.o
**/*.a
**/*.la
**/*.lo
**/*.so
**/*.pyc
**/*.orig
*~
\#*#
.\#*
aclocal.m4
autom4te.cache
benchmark/.deps
benchmark/.libs
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps/
GPATH
GRTAGS
GTAGS
infinisqlmgr/cfgenum.py
INSTALL
install-sh
.libs/
libtool
ltmain.sh
Makefile
Makefile.in
missing
nbproject
server/.deps
server/.libs
stamp-h1
.*.swp
ylwrap
docs/doxy/html/*
docs/pubs/html/*
docs/.DS_Store
docs/._.DS_Store
docs/doxy/latex/*
infinisqlmgr.conf
.sconsign.dblite
core.*
src/infinisqld
.scon*
